.list {
  display: flex;
  margin-top: 2px;
  background-color: rgb(93 91 89);
  padding: 15px;
}
.list-content {
  flex: 1;
  text-align: left;
}
.list-content p,.list-content h3 {
  margin: 0;
}
.strike {
  text-decoration: line-through;
  color: black;
}
